html,body 
{
	height: 100%;
	width: 100%;
	margin: 0;
}


	#PageWrapper
	{
		
		height: 100%;
		width: 100%;
	}
	
	#image 
	{
		display: flex;
	}
	#kivet
	{ 
		background-image: url(../IMG/kivet.jpg);
		background-size: cover;
		
		background-repeat: no-repeat;
		height: 100vh;
		width: 75vw;
		
	}
	
	h1
	{
		color: red;
		font-family: "Calibri";
	}
	
	button
	{
		color: white;
		border: 0; /* napista reunukset pois */
		background-color: blue; 
		padding: 15px 30px; /* korkeus, leveys */
		margin-top: 15px; /* elemenetti irti napista */
	}
	
	a
	{
		margin-top: 35px;
		
	}
	
	#MainContent
	{
		margin: 300px;	
	}
	#Login
	{
		
		width: 50wh;
		
		
		/*  */
	}
	
	#Password
	{
		width: 50wh;
		
		
		/*  */
	}
	
	
	