html,body 
{
	height: 100%;
	width: 100%;
	margin: 0;
}


	#PageWrapper
	{
		
		height: 100%;
		width: 100%;
	}
	
	#image 
	{
		display: flex;
		
	}
	#kivet
	{ 
		background-image: url(../IMG/kivet.jpg);
		background-size: cover;
		
		background-repeat: no-repeat;
		
		width: 100%;
		height: 100vh;
		
	}
	
	h1
	{
		color: red;
		font-family: "Calibri";
	}
	
	button
	{
		color: white;
		border: 0; /* napista reunukset pois */
		background-color: blue; 
		padding: 15px 30px; /* korkeus, leveys */
		margin-top: 15px; /* elemenetti irti napista */
	}
	
	a
	{
		margin-top: 35px;  /*  tekstilinkki */
		
	}
	
	#MainContent
	{
		margin: 300px;	
	}
	#Login
	{
		
		width: 50wh;
		
		
		/*  */
	}
	
	#Password
	{
		width: 50wh;
		
		
		/*  */
	}
	
	
@media screen and (min-width: 370px) and (max-width: 800px)
{

	#image 
	{
		display: block;
	}
	
	#kivet
	{
		height: 40vh;	
	}
	#MainContent
	{	
		margin: 75px;	
	}
	
	.SIGN
	{
		
		display: block;
		margin-right: 0px;
		margin-left: auto;
		text-align: right;
	}

}
		
			
	